@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
}

.firstName {
    max-width: 190px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid lightgray;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;

}

.label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    font-family: 'Montserrat', sans-serif;
    transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
}

.firstName:hover,
.firstName:focus,
.input-group:hover .firstName {
    outline: none;
    border-color: #05060f;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.input-group:hover .label,
.firstName:focus {
    color: #05060fc2;
}

.firstName-active {
    max-width: 500px;
    width: 429px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid lightgrey;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;

}


.firstName-active:hover,
.firstName-active:focus,
.input-group:hover .firstName-active {
    outline: none;
    border-color: #05060f;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.input-group:hover .label,
.firstName-active:focus {
    color: #05060fc2;

}

.textarea {
    max-width: 500px;
    width: 429px;
    height: 100px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0.75rem 1rem;
    border: 2px solid lightgray;
    font-size: 1rem;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;

}

.textarea:hover,
.textarea:focus,
.input-group:hover .textarea {
    outline: none;
    border-color: #05060f;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.input-group:hover .label,
.textarea:focus {
    color: #05060fc2;
}

.btn {
    border: 2px solid lightgray;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0.75rem 1rem;
    height: 48px;
    width: 466px;
    margin: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.btn:hover,
.btn:focus {
    outline: none;
    border-color: #05060f;
    letter-spacing: 1px;
}

.btn:hover {
    color: #05060fc2;
}