@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


* {
    margin: 0;
    padding: 0;
}

.emailBox {
    max-width: 190px;
    height: 24px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 3px 5px;
    border: 2px solid lightgray;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;

}



.emailBox:hover,
.emailBox:focus,
.emailBox:hover .emailBox {
    outline: none;
    border-color: #05060f;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.emailBox:focus {
    color: #05060fc2;
}



footer {
    background: goldenrod;
    position: absolute;
    left: 0;
    width: 100%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

h4 {
    margin: auto 5px;
    user-select: none;
}

.Container {
    color: white;
    display: flex;
    justify-content: space-around;
}

input {
    outline: none;

}

.inbox p,
input,
button {
    margin: 5px;
    padding: 3px 5px;

}

.inbox p {
    width: 235px;
}

.text {
    /* margin: auto 5px; */
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.links {
    display: flex;
    gap: 15px;
}

.text button {
    border-radius: 50%;
    outline: none;
    height: 32px;
    width: 34px;
    outline: none;
    border: none;
}

.bottom {
    display: flex;
    justify-content: space-around;
}

.bottom p {
    user-select: none;
}

.bottom a {
    text-decoration: none;
    color: #555;
}

.bottom a:hover {
    color: black;
    transform: scale(1.05);

}

.text .links .icon1 {
    color: #00acee;
}

.text .links .icon2 {
    color: #E4405F;
}

.text .links .icon3 {
    color: #5865F2;
}

.text .links .icon3:active~.text button:nth-child(3):active {
    background-color: #5865F2;
    color: white;
}

.ourLinks {
    text-transform: capitalize;
    padding: 5px;
    user-select: none;
}

.ourLinks a {
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    color: #555;
    margin: 3px;
}



.ourLinks a:hover {
    color: black;
    transform: scale(1.1);
}

.invite-btn {
    border: 2px solid lightgray;
    background-color: #05060f0a;
    border-radius: .5rem;
    margin-left: 0px;
    padding: 3px 5px;
    font-size: 10px;
    height: 33px;
    font-family: 'Roboto Slab', serif;
    position: relative;
    top: -3px;
}

.invite-btn:hover,
.invite-btn:focus {
    outline: none;
    border-color: #05060f;
}

.invite-btn:hover {
    color: #05060fc2;
}