.subpage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.stats-section {
    width: 70%;
    height: calc(60%);
    /* Increase the height by 20px */
    background-color: #f4f4f4;
    border-radius: 8px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transform: scale(1.3);
    /* Set the scale back to normal */
    transform-origin: center center;
    /* Set the scaling origin to the center */
    background-color: white;
}

.stats-heading {
    font-size: 24px;
    padding: 10px;
    color: white;
    background-color: black;
    margin-bottom: 20px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, calc(43%));
    grid-gap: 90px;
}

.stats-item {
    width: 105%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    height: calc(120%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stats-title {
    font-size: 18px;
    padding: 5px;
    color: white;
    background-color: black;
    margin-bottom: 8px;
}

.stats-value {
    font-size: 20px;
    font-weight: bold;
}