* {
    margin: 0;
    padding: 0;
}

.mainClass {
    max-width: 1254px;
    width: fit-content;
    overflow: hidden;
}

.narasimha {
    max-width: 300px;
    border-radius: 4px;
    text-align: center;
    font-family: arial;
    margin: 15px;
    padding: 15px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.title {
    color: grey;
    font-size: 18px;
    margin: 5px;
}



.tweet {
    text-decoration: none;
    font-size: 22px;
    color: black;
    margin: 5px;
}

.tweet:hover {
    opacity: 0.7;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px
}

.images {
    animation: slide 15s infinite linear;
    scroll-behavior: smooth;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    10% {
        transform: translateX(-10%);
    }

    20% {
        transform: translateX(-20%);
    }

    30% {
        transform: translateX(-30%);
    }

    40% {
        transform: translateX(-40%);
    }

    50% {
        transform: translateX(-50%);
    }
}
